<%= form_with(model: material, local: true) do |form| %>
  <% if material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nam_material %>
    <%= form.text_field :nam_material %>
  </div>

  <div class="field">
    <%= form.label :desc_material %>
    <%= form.text_field :desc_material %>
  </div>

  <div class="field">
    <%= form.label :id_material_type %>
    <%= form.number_field :id_material_type %>
  </div>

  <div class="field">
    <%= form.label :material_type_id %>
    <%= form.text_field :material_type_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
