<%= form_with(model: recycling_center, local: true) do |form| %>
  <% if recycling_center.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recycling_center.errors.count, "error") %> prohibited this recycling_center from being saved:</h2>

      <ul>
      <% recycling_center.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nam_recycling_center %>
    <%= form.text_field :nam_recycling_center %>
  </div>

  <div class="field">
    <%= form.label :desc_recycling_center %>
    <%= form.text_field :desc_recycling_center %>
  </div>

  <div class="field">
    <%= form.label :address_recycling_center %>
    <%= form.text_field :address_recycling_center %>
  </div>

  <div class="field">
    <%= form.label :tel_recycling_center %>
    <%= form.text_field :tel_recycling_center %>
  </div>

  <div class="field">
    <%= form.label :web_recycling_center %>
    <%= form.text_field :web_recycling_center %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
