<p id="notice"><%= notice %></p>

<p>
  <strong>Nam multimedia type:</strong>
  <%= @multimedia_type.nam_multimedia_type %>
</p>

<p>
  <strong>Desc multimedia type:</strong>
  <%= @multimedia_type.desc_multimedia_type %>
</p>

<%= link_to 'Edit', edit_multimedia_type_path(@multimedia_type) %> |
<%= link_to 'Back', multimedia_types_path %>
