<%= form_with(model: transport_material, local: true) do |form| %>
  <% if transport_material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transport_material.errors.count, "error") %> prohibited this transport_material from being saved:</h2>

      <ul>
      <% transport_material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nam_transport_material %>
    <%= form.text_field :nam_transport_material %>
  </div>

  <div class="field">
    <%= form.label :desc_transport_material %>
    <%= form.text_field :desc_transport_material %>
  </div>

  <div class="field">
    <%= form.label :date_transport_material %>
    <%= form.date_select :date_transport_material %>
  </div>

  <div class="field">
    <%= form.label :id_material %>
    <%= form.number_field :id_material %>
  </div>

  <div class="field">
    <%= form.label :id_recycling_center %>
    <%= form.number_field :id_recycling_center %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
