<p id="notice"><%= notice %></p>

<h1>Transport Materials</h1>

<table>
  <thead>
    <tr>
      <th>Nam transport material</th>
      <th>Desc transport material</th>
      <th>Date transport material</th>
      <th>Id material</th>
      <th>Id recycling center</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transport_materials.each do |transport_material| %>
      <tr>
        <td><%= transport_material.nam_transport_material %></td>
        <td><%= transport_material.desc_transport_material %></td>
        <td><%= transport_material.date_transport_material %></td>
        <td><%= transport_material.id_material %></td>
        <td><%= transport_material.id_recycling_center %></td>
        <td><%= link_to 'Show', transport_material %></td>
        <td><%= link_to 'Edit', edit_transport_material_path(transport_material) %></td>
        <td><%= link_to 'Destroy', transport_material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transport Material', new_transport_material_path %>
