<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nam_category %>
    <%= form.text_field :nam_category %>
  </div>

  <div class="field">
    <%= form.label :desc_category %>
    <%= form.text_field :desc_category %>
  </div>

  <div class="field">
    <%= form.label :id_material %>
    <%= form.number_field :id_material %>
  </div>

  <div class="field">
    <%= form.label :id_multimedia %>
    <%= form.number_field :id_multimedia %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
