<p id="notice"><%= notice %></p>

<p>
  <strong>Nam category:</strong>
  <%= @category.nam_category %>
</p>

<p>
  <strong>Desc category:</strong>
  <%= @category.desc_category %>
</p>

<p>
  <strong>Id material:</strong>
  <%= @category.id_material %>
</p>

<p>
  <strong>Id multimedia:</strong>
  <%= @category.id_multimedia %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
