<p id="notice"><%= notice %></p>

<h1>Uses</h1>

<table>
  <thead>
    <tr>
      <th>Nam use</th>
      <th>Desc </th>
      <th>Use</th>
      <th>Id material</th>
      <th>Id user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uses.each do |use| %>
      <tr>
        <td><%= use.nam_use %></td>
        <td><%= use.desc_ %></td>
        <td><%= use.use %></td>
        <td><%= use.id_material %></td>
        <td><%= use.id_user %></td>
        <td><%= link_to 'Show', use %></td>
        <td><%= link_to 'Edit', edit_use_path(use) %></td>
        <td><%= link_to 'Destroy', use, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Use', new_use_path %>
