<p id="notice"><%= notice %></p>

<p>
  <strong>Nam use:</strong>
  <%= @use.nam_use %>
</p>

<p>
  <strong>Desc :</strong>
  <%= @use.desc_ %>
</p>

<p>
  <strong>Use:</strong>
  <%= @use.use %>
</p>

<p>
  <strong>Id material:</strong>
  <%= @use.id_material %>
</p>

<p>
  <strong>Id user:</strong>
  <%= @use.id_user %>
</p>

<%= link_to 'Edit', edit_use_path(@use) %> |
<%= link_to 'Back', uses_path %>
