<p id="notice"><%= notice %></p>

<p>
  <strong>Nam material type:</strong>
  <%= @material_type.nam_material_type %>
</p>

<p>
  <strong>Desc material type:</strong>
  <%= @material_type.desc_material_type %>
</p>

<%= link_to 'Edit', edit_material_type_path(@material_type) %> |
<%= link_to 'Back', material_types_path %>
