<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Nam1 user</th>
      <th>Nam2 user</th>
      <th>Lastnam1 user</th>
      <th>Lastnam2 user</th>
      <th>Tel user</th>
      <th>Address user</th>
      <th>Identification user</th>
      <th>Email user</th>
      <th>Password</th>
      <th>Date user</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nam1_user %></td>
        <td><%= user.nam2_user %></td>
        <td><%= user.lastnam1_user %></td>
        <td><%= user.lastnam2_user %></td>
        <td><%= user.tel_user %></td>
        <td><%= user.address_user %></td>
        <td><%= user.identification_user %></td>
        <td><%= user.email_user %></td>
        <td><%= user.password %></td>
        <td><%= user.date_user %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
