<p id="notice"><%= notice %></p>

<p>
  <strong>Nam1 user:</strong>
  <%= @user.nam1_user %>
</p>

<p>
  <strong>Nam2 user:</strong>
  <%= @user.nam2_user %>
</p>

<p>
  <strong>Lastnam1 user:</strong>
  <%= @user.lastnam1_user %>
</p>

<p>
  <strong>Lastnam2 user:</strong>
  <%= @user.lastnam2_user %>
</p>

<p>
  <strong>Tel user:</strong>
  <%= @user.tel_user %>
</p>

<p>
  <strong>Address user:</strong>
  <%= @user.address_user %>
</p>

<p>
  <strong>Identification user:</strong>
  <%= @user.identification_user %>
</p>

<p>
  <strong>Email user:</strong>
  <%= @user.email_user %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Date user:</strong>
  <%= @user.date_user %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
