<p id="notice"><%= notice %></p>

<p>
  <strong>Nam multimedia:</strong>
  <%= @multimedium.nam_multimedia %>
</p>

<p>
  <strong>Desc multimedia:</strong>
  <%= @multimedium.desc_multimedia %>
</p>

<p>
  <strong>Id multimedia type:</strong>
  <%= @multimedium.id_multimedia_type %>
</p>

<p>
  <strong>Multimedia type:</strong>
  <%= @multimedium.multimedia_type %>
</p>

<%= link_to 'Edit', edit_multimedium_path(@multimedium) %> |
<%= link_to 'Back', multimedia_path %>
